<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ecommage_CustomerReview::customer_review" title="Customer Reviews" translate="title" parent="Magento_Backend::content_elements" module="Ecommage_CustomerReview" action="customer_review/review/index" sortOrder="70" resource="Ecommage_CustomerReview::customer_review"/>
    </menu>
</config>