<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Controller\Adminhtml\Wysiwyg\Images\OnInsert">
        <plugin name="Ecommage_CustomMegaMenu_UpdateUploadIcon" type="Ecommage\CustomMegaMenu\Plugin\UpdateUploadIcon" sortOrder="1" />
    </type>
    <preference for="Codazon\MegaMenu\Block\Adminhtml\Index\Edit\Form" type="Ecommage\CustomMegaMenu\Block\Adminhtml\Index\Edit\Form" />
</config>
