<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amlocator" translate="label" type="text" sortOrder="192012" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="use_google_map" translate="label" type="select" sortOrder="15" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Use Google Map On Location Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="per_address" translate="label" type="text" sortOrder="80" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Per Address</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
        <section id="contact" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Contacts</label>
            <tab>general</tab>
            <resource>Magento_Contact::contact</resource>
            <group id="contact" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Contact Us</label>
                <field id="hotline" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hotline Owen Contact</label>
                </field>
                <field id="time_contact" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Hours of Operation</label>
                </field>
                <field id="street_address_north_office" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>North office</label>
                </field>
                <field id="street_address_south_office" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>South office</label>
                </field>
            </group>
        </section>
    </system>
</config>