<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="script_after_body" translate="label" type="text" sortOrder="012120" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Ecommage_CustomTheme::config</resource>
            <class>separator-top</class>
            <label>Add Script After Body</label>
            <tab>ecommage</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="code" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Scripts and Style Sheets</label>
                </field>
            </group>
        </section>
    </system>
</config>
