<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ecommage_BookingViewProduct::manage_booking"
             title="Manage Booking"
             module="Ecommage_BookingViewProduct"
             sortOrder="120"
             parent="Magento_Catalog::catalog"
             resource="Ecommage_BookingViewProduct::manage_booking"/>
        <add id="Ecommage_BookingViewProduct::manage_booking_product"
             title="Manage Booking Product"
             module="Ecommage_BookingViewProduct"
             sortOrder="10"
             dependsOnModule="Magento_Catalog"
             parent="Ecommage_BookingViewProduct::manage_booking"
             action="manage_booking/product/index"
             resource="Ecommage_BookingViewProduct::manage_booking_product"/>
    </menu>
</config>
