<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="buynow" translate="label" type="text" sortOrder="012120" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Ecommage_CustomCatalog::config</resource>
            <class>separator-top</class>
            <label>Buy Now Product</label>
            <tab>ecommage</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="keep_cart_products" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Keep Cart's Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Keep Other Cart Item(s) When Click Buy Now</comment>
                </field>
                <field id="addtocart_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Form Add To Cart</label>
                </field>
            </group>
        </section>
        <section id="auto_approve_reviews" translate="label" type="text" sortOrder="012130" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Ecommage_CustomCatalog::config</resource>
            <class>separator-top</class>
            <label>Auto Approve Reviews</label>
            <tab>ecommage</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set 'yes' to auto approve reviews</comment>
                </field>
            </group>
        </section>
        <section id="percentage" translate="label" type="text" sortOrder="012130" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Ecommage_CustomCatalog::config</resource>
            <class>separator-top</class>
            <label>Percentage Discount Product </label>
            <tab>ecommage</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_with_sample" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Simple</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set 'Yes' to show  simple product discount  percentage.</comment>
                </field>

                <field id="enable_with_configuration" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configuration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set 'Yes' to show configuration product discount  percentage.</comment>
                </field>
            </group>
        </section>

    </system>
</config>
