<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="catalog_price_rule" id="product_price_rule">
            <module name="Ecommage_WidgetCatalogPriceRule"/>
        </route>
    </router>
</config>
